.main{
    background-image:url('../images/sprinkles.png');
    background-repeat: repeat;
    background-size:contain;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
.big-title{
    background-image:url('../images/game-title.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height: rem(50);
    width: 100%;
    color: $color-green;
    font-family: $font-roboto-slab;
    font-size: rem(40);
    text-align: center;
    
    @media all and (min-width: 768px){
        font-size: rem(60); 
        height: rem(100);
        width: 100%;
    };
        
    
}
.section-score{
    display: flex;
    flex-direction: row;
    width: auto;
    background-repeat: no-repeat;
    background-size:cover;
    color: $color-title;
    font-weight: 800;   
    justify-content: space-between;
    gap: rem(20);
    font-size: rem(21);
    font-weight: bold;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    @media all and (min-width: 768px){
        font-size: rem(40); 
    };
}
.section-play{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap:rem(20);
    row-gap: rem(40);
    @media all and (min-width: 768px){
        justify-content: space-evenly;
        gap:rem(60);
        width: 60%;
       
    };
    @media all and (min-width: 1024px){
        justify-content: space-around;
        gap:rem(150);
        row-gap: 40px;
        
       
    };
}
   
.bowl{   
    overflow: hidden;
    position: relative;
    width: rem(100);
    height: rem(90);
}

.bowl::after{
    display: block;
    background-image: url('../images/bowl.png');
    background-repeat: no-repeat;
    background-size:contain;
    content: '';
    width: rem(90);
    height: rem(90);
    position: absolute;
    z-index: -20;
    bottom: -10px;
}

.avocado{
    background-image: url('../images/cool-avocado.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: rem(90);
    height: rem(70);
    display: block;
    transition:all 0.4s ease;
}
.btn{
    width: rem(70);
    height: rem(30);
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    font-weight: bold;
    color: $color-white;
    border-radius: rem(15);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    @media all and (min-width: 768px){
        width: rem(120); 
        height: rem(50);
        font-size: rem(20);
    };
}
.sms{
    color: $color-title;
    font-weight: 400;   
    font-size: rem(21);
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    @media all and (min-width: 768px){
        font-size: rem(30);
    };
}
